<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yoursong.android"
          android:versionCode="3"
          android:versionName="1.0.2">
    <uses-sdk android:minSdkVersion="16"/>
    <application android:label="@string/app_name"
                 android:name=".YourSongApplication"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/appTheme">
        <activity android:name=".Activities.ResultsActivity">
        </activity>
        <activity android:name=".Activities.SearchActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="9a6b92ab27c2d16d388ddf1573db122073ffba9d"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>
